body {background-color: #D2B48C;}
.footer {text-align: center; font-size: small; color: #FFFFFF; bottom: 3px}
.header1 {text-align: center; font-size: xx-large; font-weight: bold;}
.header2 {text-align: center; font-size: large; font-weight: bold;}
.center {text-align: center;}
.delRecipe {text-align: center; color:red; font-style:italic;}
.aboutus {text-align:left; padding:25%}
